In [ ]:
# ============================================================================
# Importing libararies
# ============================================================================
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# ============================================================================
# LOAD AMAZON SALES DATASET
# ============================================================================

print("Loading Amazon Sale Report.csv...")
df_original = pd.read_csv('/content/drive/MyDrive/Cloud Honors/Amazon Sale Report.csv')

print(f"\nDataset loaded successfully!")
print(f"Shape: {df_original.shape}")
print(f"Rows: {df_original.shape[0]:,}")
print(f"Columns: {df_original.shape[1]}")
print(f"\nFirst few rows:")
print(df_original.head())
print(f"\nColumn names and types:")
print(df_original.dtypes)
print(f"\nDataset Info:")
df_original.info()

Loading Amazon Sale Report.csv...

/tmp/ipython-input-588262479.py:6: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df_original = pd.read_csv('/content/drive/MyDrive/Cloud Honors/Amazon Sale Report.csv')

Dataset loaded successfully!
Shape: (128975, 24)
Rows: 128,975
Columns: 24

First few rows:
   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

        Category  ... currency  Amount    ship-city   ship-state  \
0            Set  ...      INR  647.62       MUMBAI  MAHARASHTRA
1          kurta  ...      INR  406.00    BENGALURU    KARNATAKA
2          kurta  ...      INR  329.00  NAVI MUMBAI  MAHARASHTRA
3  Western Dress  ...      INR  753.33   PUDUCHERRY   PUDUCHERRY
4            Top  ...      INR  574.00      CHENNAI   TAMIL NADU

  ship-postal-code  ship-country  \
0         400081.0            IN
1         560085.0            IN
2         410210.0            IN
3         605008.0            IN
4         600073.0            IN

                                       promotion-ids    B2B  fulfilled-by  \
0                                                NaN  False     Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...  False     Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108   True           NaN
3                                                NaN  False     Easy Ship
4                                                NaN  False           NaN

  Unnamed: 22
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 24 columns]

Column names and types:
index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22            object
dtype: object

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [ ]:
# ============================================================================
# ANALYZE DATA QUALITY BEFORE CLEANING
# ============================================================================

print("\n" + "="*80)
print("DATA QUALITY ANALYSIS - BEFORE CLEANING")
print("="*80)

df_check = df_original.copy()
print(f"\nDataset Shape: {df_check.shape}")
print(f"Total Records: {len(df_check):,}")
print(f"Total Columns: {len(df_check.columns)}")

print(f"\n" + "-"*80)
print("MISSING VALUES ANALYSIS:")
print("-"*80)
missing_values = df_check.isnull().sum()
print(missing_values)
print(f"\nTotal Missing Values: {missing_values.sum():,}")
print(f"Percentage: {(missing_values.sum() / (len(df_check) * len(df_check.columns)) * 100):.2f}%")

print(f"\n" + "-"*80)
print("DUPLICATE ROWS ANALYSIS:")
print("-"*80)
duplicates = df_check.duplicated().sum()
print(f"Total Duplicate Rows: {duplicates:,}")

print(f"\n" + "-"*80)
print("DATA TYPES:")
print("-"*80)
print(df_check.dtypes)

================================================================================
DATA QUALITY ANALYSIS - BEFORE CLEANING
================================================================================

Dataset Shape: (128975, 24)
Total Records: 128,975
Total Columns: 24

--------------------------------------------------------------------------------
MISSING VALUES ANALYSIS:
--------------------------------------------------------------------------------
index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

Total Missing Values: 210,495
Percentage: 6.80%

--------------------------------------------------------------------------------
DUPLICATE ROWS ANALYSIS:
--------------------------------------------------------------------------------
Total Duplicate Rows: 0

--------------------------------------------------------------------------------
DATA TYPES:
--------------------------------------------------------------------------------
index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22            object
dtype: object

In [ ]:
# ============================================================================
# HANDLE MISSING VALUES
# ============================================================================

print("\nStep 1: Handling Missing Values...")
df_cleaned = df_original.copy()

# For numeric columns, fill with median
for col in df_cleaned.select_dtypes(include=['float64', 'int64']).columns:
    if df_cleaned[col].isnull().sum() > 0:
        df_cleaned[col].fillna(df_cleaned[col].median(), inplace=True)

# For object (string) columns, fill with 'Unknown'
for col in df_cleaned.select_dtypes(include=['object']).columns:
    if df_cleaned[col].isnull().sum() > 0:
        df_cleaned[col].fillna('Unknown', inplace=True)

print(f"Missing values after handling: {df_cleaned.isnull().sum().sum()}")
print("✓ All missing values handled!")

Step 1: Handling Missing Values...

/tmp/ipython-input-1478119931.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(df_cleaned[col].median(), inplace=True)
/tmp/ipython-input-1478119931.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna('Unknown', inplace=True)

Missing values after handling: 0
✓ All missing values handled!

In [ ]:
# ===================================================================
# REMOVE DUPLICATE ROWS
# ===================================================================

print("\nStep 2: Removing Duplicate Rows...")
print("=" * 80)

# Count duplicates before removal
duplicate_rows_before = df_cleaned.duplicated().sum()
print(f"\nDuplicate Rows Before Removal: {duplicate_rows_before}")

# Remove duplicate rows
df_cleaned = df_cleaned.drop_duplicates()

# Count duplicates after removal
duplicate_rows_after = df_cleaned.duplicated().sum()
print(f"Duplicate Rows After Removal: {duplicate_rows_after}")
print(f"✓ Removed {duplicate_rows_before - duplicate_rows_after} duplicate row(s)")
print(f"\nDataset Shape After Removing Duplicates: {df_cleaned.shape}")
print(f"Total Rows Remaining: {len(df_cleaned):,} rows")

Step 2: Removing Duplicate Rows...
================================================================================

Duplicate Rows Before Removal: 0
Duplicate Rows After Removal: 0
✓ Removed 0 duplicate row(s)

Dataset Shape After Removing Duplicates: (128975, 24)
Total Rows Remaining: 128,975 rows

In [ ]:
# ===================================================================
# FIX INCONSISTENT FORMATS (TEXT NORMALIZATION)
# ===================================================================

print("\nStep 3: Fixing Inconsistent Formats...")
print("=" * 80)

# Apply text normalization to all object (string) columns
object_columns = df_cleaned.select_dtypes(include=['object']).columns

print(f"\nApplying format normalization to {len(object_columns)} text columns:")
for col in object_columns:
    # Strip whitespace and convert to title case for consistency
    df_cleaned[col] = df_cleaned[col].str.strip().str.title()
    print(f"  ✓ Normalized: {col}")

print(f"\n✓ All text columns have been normalized")
print(f"\nNormalization applied:")
print(f"  - Removed leading/trailing whitespace")
print(f"  - Converted to Title Case for consistency")
print(f"\nDataset shape remains: {df_cleaned.shape}")

Step 3: Fixing Inconsistent Formats...
================================================================================

Applying format normalization to 19 text columns:
  ✓ Normalized: Order ID
  ✓ Normalized: Date
  ✓ Normalized: Status
  ✓ Normalized: Fulfilment
  ✓ Normalized: Sales Channel
  ✓ Normalized: ship-service-level
  ✓ Normalized: Style
  ✓ Normalized: SKU
  ✓ Normalized: Category
  ✓ Normalized: Size
  ✓ Normalized: ASIN
  ✓ Normalized: Courier Status
  ✓ Normalized: currency
  ✓ Normalized: ship-city
  ✓ Normalized: ship-state
  ✓ Normalized: ship-country
  ✓ Normalized: promotion-ids
  ✓ Normalized: fulfilled-by
  ✓ Normalized: Unnamed: 22

✓ All text columns have been normalized

Normalization applied:
  - Removed leading/trailing whitespace
  - Converted to Title Case for consistency

Dataset shape remains: (128975, 24)

In [ ]:
# ===================================================================
# RENAME COLUMNS TO STANDARD FORMAT
# ===================================================================

print("\nStep 4: Renaming Columns to Standard Format...")
print("=" * 80)

# Create a copy of original column names
original_columns = df_cleaned.columns.tolist()

# Convert column names to snake_case
def to_snake_case(name):
    # Replace spaces and hyphens with underscores
    name = name.replace(' ', '_').replace('-', '_')
    # Convert to lowercase
    name = name.lower()
    # Remove multiple consecutive underscores
    while '__' in name:
        name = name.replace('__', '_')
    return name

# Apply the conversion
new_columns = {col: to_snake_case(col) for col in original_columns}
df_cleaned.rename(columns=new_columns, inplace=True)

print(f"\nColumn Renaming Summary:")
print("-" * 80)
for old, new in list(new_columns.items())[:10]:
    if old != new:
        print(f"  {old:30} --> {new}")
if len(new_columns) > 10:
    print(f"  ... and {len(new_columns) - 10} more columns")

print(f"\n✓ All {len(original_columns)} columns renamed to snake_case")
print(f"\nNew Column Names:")
print(df_cleaned.columns.tolist())

Step 4: Renaming Columns to Standard Format...
================================================================================

Column Renaming Summary:
--------------------------------------------------------------------------------
  Order ID                       --> order_id
  Date                           --> date
  Status                         --> status
  Fulfilment                     --> fulfilment
  Sales Channel                  --> sales_channel_
  ship-service-level             --> ship_service_level
  Style                          --> style
  SKU                            --> sku
  Category                       --> category
  ... and 14 more columns

✓ All 24 columns renamed to snake_case

New Column Names:
['index', 'order_id', 'date', 'status', 'fulfilment', 'sales_channel_', 'ship_service_level', 'style', 'sku', 'category', 'size', 'asin', 'courier_status', 'qty', 'currency', 'amount', 'ship_city', 'ship_state', 'ship_postal_code', 'ship_country', 'promotion_ids', 'b2b', 'fulfilled_by', 'unnamed:_22']

In [ ]:
# ===================================================================
# FILTER AND SUBSET DATA
# ===================================================================

print("\nStep 5: Filtering and Subsetting Data...")
print("=" * 80)

# Display initial dataset size
print(f"\nOriginal Dataset Size: {len(df_cleaned):,} rows")

# Example filters:
# 1. Filter by Status (keep only specific statuses)
valid_statuses = df_cleaned['status'].value_counts().head(5).index.tolist()
print(f"\nTop 5 Status values: {valid_statuses}")

# 2. Filter for records with valid status
df_filtered = df_cleaned[df_cleaned['status'].isin(valid_statuses)].copy()
rows_removed = len(df_cleaned) - len(df_filtered)
print(f"\nFilter Applied: Keep only top 5 statuses")
print(f"  Rows removed: {rows_removed:,}")
print(f"  Rows remaining: {len(df_filtered):,}")

# 3. Filter by non-null amounts (ensure valid transaction amounts)
df_filtered = df_filtered[df_filtered['amount'].notna()].copy()
print(f"\nFilter Applied: Remove rows with null Amount")
print(f"  Rows remaining: {len(df_filtered):,}")

# 4. Subset specific columns for analysis
analysis_columns = ['order_id', 'date', 'status', 'amount', 'qty']
available_cols = [col for col in analysis_columns if col in df_filtered.columns]
df_subset = df_filtered[available_cols].copy()

print(f"\nColumn Subsetting Applied:")
print(f"  Selected columns: {available_cols}")
print(f"  Subset shape: {df_subset.shape}")

print(f"\n✓ Filtered and subset dataset ready for analysis")
print(f"  Original rows: {len(df_cleaned):,}")
print(f"  Final rows: {len(df_filtered):,}")
print(f"  Reduction: {((len(df_cleaned) - len(df_filtered)) / len(df_cleaned) * 100):.2f}%")

Step 5: Filtering and Subsetting Data...
================================================================================

Original Dataset Size: 128,975 rows

Top 5 Status values: ['Shipped', 'Shipped - Delivered To Buyer', 'Cancelled', 'Shipped - Returned To Seller', 'Shipped - Picked Up']

Filter Applied: Keep only top 5 statuses
  Rows removed: 1,144
  Rows remaining: 127,831

Filter Applied: Remove rows with null Amount
  Rows remaining: 127,831

Column Subsetting Applied:
  Selected columns: ['order_id', 'date', 'status', 'amount', 'qty']
  Subset shape: (127831, 5)

✓ Filtered and subset dataset ready for analysis
  Original rows: 128,975
  Final rows: 127,831
  Reduction: 0.89%

In [ ]:
# ===================================================================
# GROUP AND AGGREGATE DATA
# ===================================================================

print("\nStep 6: Group and Aggregate Data...")
print("=" * 80)

# Group by Status and calculate aggregations
print("\n1. Aggregation by Status:")
print("-" * 80)
status_agg = df_cleaned.groupby('status').agg({
    'amount': ['sum', 'mean', 'count'],
    'qty': 'sum'
}).round(2)
status_agg.columns = ['Total_Amount', 'Average_Amount', 'Order_Count', 'Total_Qty']
print(status_agg.head())

# Group by Sales Channel
print("\n2. Aggregation by Sales Channel:")
print("-" * 80)
channel_agg = df_cleaned.groupby('sales_channel_').agg({
    'amount': ['sum', 'mean', 'count']
}).round(2)
channel_agg.columns = ['Total_Amount', 'Average_Amount', 'Order_Count']
print(channel_agg)

# Calculate summary statistics
print("\n3. Overall Summary Statistics:")
print("-" * 80)
summary_stats = {
    'Total Orders': len(df_cleaned),
    'Total Amount': f"${df_cleaned['amount'].sum():,.2f}",
    'Average Amount': f"${df_cleaned['amount'].mean():,.2f}",
    'Total Quantity': int(df_cleaned['qty'].sum()),
    'Unique Status': df_cleaned['status'].nunique(),
    'Unique Channels': df_cleaned['sales_channel_'].nunique()
}
for key, value in summary_stats.items():
    print(f"  {key:.<35} {value}")

print(f"\n✓ Grouping and aggregation operations completed")

Step 6: Group and Aggregate Data...
================================================================================

1. Aggregation by Status:
--------------------------------------------------------------------------------
                               Total_Amount  Average_Amount  Order_Count  \
status
Cancelled                        11496714.3          627.14        18332
Pending                            431481.0          655.75          658
Pending - Waiting For Pick Up      192138.0          683.77          281
Shipped                          50450095.0          648.43        77804
Shipped - Damaged                    1136.0         1136.00            1

                               Total_Qty
status
Cancelled                           5657
Pending                              657
Pending - Waiting For Pick Up        283
Shipped                            78009
Shipped - Damaged                      1

2. Aggregation by Sales Channel:
--------------------------------------------------------------------------------
                Total_Amount  Average_Amount  Order_Count
sales_channel_
Amazon.In         83233633.3          645.97       128851
Non-Amazon           75020.0          605.00          124

3. Overall Summary Statistics:
--------------------------------------------------------------------------------
  Total Orders....................... 128975
  Total Amount....................... $83,308,653.30
  Average Amount..................... $645.93
  Total Quantity..................... 116649
  Unique Status...................... 13
  Unique Channels.................... 2

✓ Grouping and aggregation operations completed

In [ ]:
# ===================================================================
# CONVERT COLUMN DATA TYPES
# ===================================================================

print("\nStep 7: Converting Data Types...")
print("=" * 80)

# Display original data types
print("\nOriginal Data Types:")
print("-" * 80)
original_dtypes = df_cleaned.dtypes
print(original_dtypes)

# Define type conversions
print("\nApplying Data Type Conversions:")
print("-" * 80)

# Convert numeric columns
for col in ['qty']:
    if col in df_cleaned.columns:
        df_cleaned[col] = df_cleaned[col].astype('int64')
        print(f"  ✓ Converted '{col}' to int64")

# Convert amount to float64 if not already
for col in ['amount', 'ship_postal_code']:
    if col in df_cleaned.columns and df_cleaned[col].dtype != 'float64':
        try:
            df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='coerce')
            print(f"  ✓ Converted '{col}' to float64")
        except:
            print(f"  - Could not convert '{col}'")

# Convert date column to datetime
if 'date' in df_cleaned.columns:
    df_cleaned['date'] = pd.to_datetime(df_cleaned['date'], errors='coerce')
    print(f"  ✓ Converted 'date' to datetime64")

print("\nFinal Data Types:")
print("-" * 80)
final_dtypes = df_cleaned.dtypes
print(final_dtypes)

print(f"\n✓ Data type conversions completed successfully")

Step 7: Converting Data Types...
================================================================================

Original Data Types:
--------------------------------------------------------------------------------
index                   int64
order_id               object
date                   object
status                 object
fulfilment             object
sales_channel_         object
ship_service_level     object
style                  object
sku                    object
category               object
size                   object
asin                   object
courier_status         object
qty                     int64
currency               object
amount                float64
ship_city              object
ship_state             object
ship_postal_code      float64
ship_country           object
promotion_ids          object
b2b                      bool
fulfilled_by           object
unnamed:_22            object
dtype: object

Applying Data Type Conversions:
--------------------------------------------------------------------------------
  ✓ Converted 'qty' to int64
  ✓ Converted 'date' to datetime64

Final Data Types:
--------------------------------------------------------------------------------
index                          int64
order_id                      object
date                  datetime64[ns]
status                        object
fulfilment                    object
sales_channel_                object
ship_service_level            object
style                         object
sku                           object
category                      object
size                          object
asin                          object
courier_status                object
qty                            int64
currency                      object
amount                       float64
ship_city                     object
ship_state                    object
ship_postal_code             float64
ship_country                  object
promotion_ids                 object
b2b                             bool
fulfilled_by                  object
unnamed:_22                   object
dtype: object

✓ Data type conversions completed successfully

/tmp/ipython-input-2781431967.py:35: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_cleaned['date'] = pd.to_datetime(df_cleaned['date'], errors='coerce')

In [ ]:
# ===================================================================
# FINAL ANALYSIS AND EXPORT CLEANED DATASET
# ===================================================================

print("\nStep 8: Final Data Quality Analysis and Export...")
print("=" * 80)

# Final data quality check (after all cleaning)
print("\nFINAL DATA QUALITY REPORT (AFTER CLEANING):")
print("-" * 80)
print(f"Dataset Shape: {df_cleaned.shape}")
print(f"Total Rows: {len(df_cleaned):,}")
print(f"Total Columns: {len(df_cleaned.columns)}")

# Check for missing values
missing_values = df_cleaned.isnull().sum()
if missing_values.sum() > 0:
    print(f"\nMissing Values Found:")
    print(missing_values[missing_values > 0])
else:
    print(f"\n✓ No missing values detected")

# Check for duplicates
duplicate_count = df_cleaned.duplicated().sum()
print(f"✓ Duplicate rows: {duplicate_count}")

# Memory usage
print(f"\nMemory Usage: {df_cleaned.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

# Export cleaned dataset to CSV
print("\nExporting Cleaned Dataset...")
print("-" * 80)

# Save to CSV
csv_filename = 'Cleaned_Dataset.csv'
df_cleaned.to_csv(csv_filename, index=False)
print(f"✓ Cleaned dataset exported to: {csv_filename}")
print(f"  File size: {len(df_cleaned):,} rows x {len(df_cleaned.columns)} columns")

# Verification
print("\nVerification of Exported File:")
print("-" * 80)
df_verify = pd.read_csv(csv_filename, nrows=5)
print(f"✓ Successfully read CSV file")
print(f"  First 5 rows loaded: {len(df_verify)} rows")
print(f"  Columns: {len(df_verify.columns)}")

print(f"\n" + "=" * 80)
print(f"DATA CLEANING COMPLETED SUCCESSFULLY!")
print(f"=" * 80)
print(f"✓ All 8 cleaning operations completed")
print(f"✓ Cleaned dataset exported as: {csv_filename}")
print(f"✓ Ready for report generation")

Step 8: Final Data Quality Analysis and Export...
================================================================================

FINAL DATA QUALITY REPORT (AFTER CLEANING):
--------------------------------------------------------------------------------
Dataset Shape: (128975, 24)
Total Rows: 128,975
Total Columns: 24

Missing Values Found:
unnamed:_22    79925
dtype: int64
✓ Duplicate rows: 0

Memory Usage: 171.99 MB

Exporting Cleaned Dataset...
--------------------------------------------------------------------------------
✓ Cleaned dataset exported to: Cleaned_Dataset.csv
  File size: 128,975 rows x 24 columns

Verification of Exported File:
--------------------------------------------------------------------------------
✓ Successfully read CSV file
  First 5 rows loaded: 5 rows
  Columns: 24

================================================================================
DATA CLEANING COMPLETED SUCCESSFULLY!
================================================================================
✓ All 8 cleaning operations completed
✓ Cleaned dataset exported as: Cleaned_Dataset.csv
✓ Ready for report generation